// colors

// grey
$grey-200: #d1d1d1;
$grey: #eeeeee;

//blue

$blue-300: #179498;
$blue-500: #104b81;

// green
$green-300: #7fd87f;
$green-900: #079247;

//black

$black: #000;

//white
$white: #fff;

