%btn {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2em;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.4em 1.33em;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  width: 100%;
  transition-property: background-color, color, outline;
  justify-content: center;
  &:disabled {
    background-color: $grey-200;
    border: 1px solid $grey-200;
    color: #fff;
    cursor: not-allowed;
    &:hover {
      background-color: $grey-200;
      border: 1px solid $grey-200;
      cursor: not-allowed;
      color: $white;
    }
  }
}

.btn-fill {
  @extend %btn;
  background-color: $blue-500;
  border: 1px solid $blue-500;
  color: $white;
  &:hover {
    background-color: $white;
    color: $blue-500;
    border: 1px solid $blue-500;
  }
}

.btn-outlined {
  @extend %btn;
  background-color: $white;
  border: 1px solid $blue-500;
  color: $blue-500;
  &:hover {
    background-color: $blue-500;
    color: $white;
    border: 1px solid $blue-500;
  }
}
