.form-input {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
  label {
    font-weight: bold;
  }
  input {
    padding: 10px 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100%;
  }
  &.is-text {
    flex-direction: column;
    align-items: inherit;
  }
  &.rtl {
    justify-content: end;
    text-align: right;
    input {
      text-align: right;
    }
  }
}
